.minecraft/command_history.txt
.minecraft/config/skyblockapi/equipment.json
.minecraft/config/skyblockapi/effects.json
.minecraft/config/skyblockapi/player_storage.json
.minecraft/config/skyblockapi/powder.json
.minecraft/config/skyblockapi/profiles.json
.minecraft/config/skyblockapi/sacks.json
.minecraft/config/skyblockapi/wardrobe.json
.minecraft/config/skyblocker/backpack-preview/4e67b1a054c04694bc76dbe4e7fd9e63/62b760d8-92b6-4501-ada0-1fd8583f5266/1.nbt
.minecraft/config/skyblocker/backpack-preview/4e67b1a054c04694bc76dbe4e7fd9e63/62b760d8-92b6-4501-ada0-1fd8583f5266/2.nbt
.minecraft/config/skyblocker/pet_cache.json
.minecraft/config/skyblocker/time_tower.txt
.minecraft/config/skyblocktweaks-persistent.json
.minecraft/config/skyhanni/backup/2025/08/2025-08-01-4.12.0-config.json
.minecraft/config/skyhanni/backup/2025/08/2025-08-01-4.12.0-pets.json
/.minecraft/config/skyhanni/backup
/.minecraft/config/skyhanni/logs
/.minecraft/config/cookiesmod/profiles
/.minecraft/config/skyblocker/backpack-preview
